<?xml version="1.0" encoding="utf-8"?>
<configuration>

  <appSettings>
    <add key="BASE_URL" value="http://localhost:8090" />
  </appSettings>
  
  <connectionStrings>
    <add name="WebApplication_ConnectionString" connectionString="Data Source=localhost; Initial Catalog=Database; Integrated Security=True;" />
  </connectionStrings>

</configuration>