@{
    ViewBag.Title = "Home Page";
}

<div class="jumbotron">
    <h1>CI/CD Sample Application</h1>
    <p class="lead">Sample ASP.NET MVC application using JQuery, Bootstrap, Webpack, Entity Framework and Ninject.</p>
    <p><a href="https://github.com/alanmacgowan/WebApplication" class="btn btn-primary btn-lg">Learn more &raquo;</a></p>
</div>

